:host {
  display: block;
  width: 100%;
}

.carousel-img-wrapper {
  height: 90vh; /* Altura padrão para desktop */
  width: 100%;
}

.carousel-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Cobre o espaço sem distorcer */
}

/* Ajustes para telas menores */
@media (max-width: 1024px) {
  .carousel-img-wrapper {
    height: 600px;
  }
}

@media (max-width: 768px) {
  .carousel-img-wrapper {
    height: 50vh;
  }
}