<section class="parceiros-section">
  <h2>Nossos Parceiros</h2>
  <div class="scroller">
    <ul class="scroller__inner">
      <li><img src="assets/logo_truck_pneus_sem_fundo.png" alt="Logo Truck Pneus"></li>
      <li><img src="assets/logo_truck_imoveis_sem_fundo.png" alt="Logo Truck Imóveis"></li>
      <li><img src="assets/logo_truck_energia_sem_fundo.png" alt="Logo Truck Energia"></li>
      <li><img src="assets/logo-truck.png" alt="Logo Parceiro 4"></li>
      <li><img src="assets/logo-truck.png" alt="Logo Parceiro 5"></li>

      <li><img src="assets/logo_truck_pneus_sem_fundo.png" alt="Logo Truck Pneus"></li>
      <li><img src="assets/logo_truck_imoveis_sem_fundo.png" alt="Logo Truck Imóveis"></li>
      <li><img src="assets/logo_truck_energia_sem_fundo.png" alt="Logo Truck Energia"></li>
      <li><img src="assets/logo-truck.png" alt="Logo Parceiro 4"></li>
      <li><img src="assets/logo-truck.png" alt="Logo Parceiro 5"></li>
    </ul>
  </div>
</section>