<section class="area-atuacao-section">
  <div class="texto-container">
    <h2>Área de <span class="highlight"><br>Atuação</span></h2>
    <p>
      <strong>Presente em mais de 5 estados:</strong> MT, MS, RO, AC, MG
    </p>
    <div class="legenda">
      <div class="legenda-item">
        <span class="cor-legenda" style="background-color: #f29201;"></span>
        <span>Estados de Atuação</span>
      </div>
      <div class="legenda-item">
        <span class="cor-legenda" style="background-color: #ffffff; border: 1px solid #ccc;"></span>
        <span>Demais Estados</span>
      </div>
    </div>
    <p class="info-adicional">
      
    </p>
  </div>
  <div class="mapa-container">
    <div id="chartdiv" style="width: 100%; height: 500px;"></div>
  </div>
</section>