<!-- <header class="header-container">
  <div class="header-content">
    
    
    <div class="branding">
      <img src="./assets/logo-truck.png" alt="Logo Truck" class="logo" />
      <p class="slogan">Soluções sustentáveis, inovação e responsabilidade social</p>
    </div>

   
    <nav class="menu">
      <app-nav></app-nav>
    </nav>
  </div>
</header> -->


<header class="site-header">
  <div class="header-container">
    <div class="branding">
      <div class="logo">
        <img src="assets/logo_truck_empreendimentos_laranja.png" alt="Truck Empreendimentos Logo">
      </div>
      <p class="slogan">Soluções sustentáveis, inovação e responsabilidade social</p>
    </div>
    <nav class="navigation">
      <a href="#sobre-nos">Sobre Nós</a>
      <a href="#truckpneus">Truck Pneus</a>
      <a href="#truckimoveis">Truck Imóveis</a>
      <a href="#truckenergia">Truck Energia</a>
      <a href="#contato">Contato</a>
    </nav>

  </div>
</header>