nav {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-content: calc(50% - 5);
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #fcb040; /* ou cor da sua paleta */
}
