<!-- <div class="content">
  <section id="truckpneus">
    <img 
      #sectionTitle 
      src="assets/logo_truck_pneus_preta.png" 
      alt="Logo Truck Pneus" 
      class="section-logo">

    <p #sectionText>Especialista em logística reversa de pneus inservíveis.</p>
    <p #sectionText>A Truck Pneus é referência no recebimento, armazenamento, triagem e destinação ambientalmente correta de pneus inservíveis. Trabalhamos em parceria com municípios juntamente com a Associação Reciclanip, garantindo que os resíduos sejam tratados com responsabilidade e conforme as normas ambientais.</p>
    <div class="divider"></div>
  </section>

  <section id="truckimoveis">
    <img 
      #sectionTitle 
      src="assets/logo_truck_imoveis_preta.png" 
      alt="Logo Truck Imóveis" 
      class="section-logo">

    <p #sectionText>Soluções completas em locação residencial e comercial.</p>
    <p #sectionText>A Truck Imóveis oferece diversas opções de aluguel mensal e hospedagens via Airbnb, além de imóveis para locação comercial, unindo conforto, praticidade e localização estratégica. Nossas soluções são ideais para quem busca moradia temporária, hospedagem ou espaço para estabelecer seu negócio nas cidades onde atuamos, garantindo uma experiência acolhedora, segura e eficiente.</p>
    <div class="divider"></div>
  </section>

  <section id="truckenergia">
    <img 
      #sectionTitle 
      src="assets/logo_truck_energia_preta.png" 
      alt="Logo Truck Energia" 
      class="section-logo">
      
    <p #sectionText>Tecnologia em energia solar.</p>
    <p #sectionText>A Truck Energia atua no setor de energia solar, oferecendo soluções inteligentes para residências, comércios e propriedades rurais. Trabalhamos com projetos personalizados, promovendo economia e sustentabilidade.</p>
    <div class="divider"></div>
  </section>
</div> -->

<div class="empresas-container">

  <div class="empresa-coluna">
    <section id="truckpneus">
      <img
        #sectionTitle
        src="assets/logo_truck_pneus_preta.png"
        alt="Logo Truck Pneus"
        class="section-logo">

      <p #sectionText class="empresa-slogan">Especialista em logística reversa de pneus inservíveis.</p>
      <p #sectionText class="empresa-texto">A Truck Pneus é referência no recebimento, armazenamento, triagem e destinação ambientalmente correta de pneus inservíveis. Trabalhamos em parceria com municípios juntamente com a Associação Reciclanip, garantindo que os resíduos sejam tratados com responsabilidade e conforme as normas ambientais.</p>
    </section>
  </div>

  <div class="separador-vertical"></div>

  <div class="empresa-coluna">
    <section id="truckimoveis">
      <img
        #sectionTitle
        src="assets/logo_truck_imoveis_preta.png"
        alt="Logo Truck Imóveis"
        class="section-logo">

      <p #sectionText class="empresa-slogan">Soluções completas em locação residencial e comercial.</p>
      <p #sectionText class="empresa-texto">A Truck Imóveis oferece diversas opções de aluguel mensal e hospedagens via Airbnb, além de imóveis para locação comercial, unindo conforto, praticidade e localização estratégica. Nossas soluções são ideais para quem busca moradia temporária, hospedagem ou espaço para estabelecer seu negócio nas cidades onde atuamos, garantindo uma experiência acolhedora, segura e eficiente.</p>
    </section>
  </div>

  <div class="separador-vertical"></div>

  <div class="empresa-coluna">
    <section id="truckenergia">
      <img
        #sectionTitle
        src="assets/logo_truck_energia_preta.png"
        alt="Logo Truck Energia"
        class="section-logo">

      <p #sectionText class="empresa-slogan">Tecnologia em energia solar.</p>
      <p #sectionText class="empresa-texto">A Truck Energia atua no setor de energia solar, oferecendo soluções inteligentes para residências, comércios e propriedades rurais. Trabalhamos com projetos personalizados, promovendo economia e sustentabilidade.</p>
    </section>
  </div>
</div>